/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

/* NavBar */
.navbar {
  background-color: #184ca4;
  padding: 16px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  font-size: 1.125rem;
  font-weight: 600;
  list-style: none;
  color: white;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

/* Header */
.header {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.header-logo {
  max-width: 900px;
  height: auto;
}

/* Footer */
.footer {
  background-color: #184ca4;
  padding: 16px;
}

.footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
  list-style: none;
  padding: 0;
  width: 100%;
}

.footer ul li {
  display: flex;
  align-items: center;
}

.footer ul li:first-child {
  margin-right: auto;
}

.footer ul li:last-child {
  margin-left: auto;
}

.footer ul li a {
  color: white;
  text-decoration: none;
}

.footer ul li img {
  max-width: 100%;
  height: auto;
}

/* NavBar */
.navbar {
  background-color: rgba(21, 73, 196, 0.6);
  padding: 16px;
 }

 .navbar ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  font-size: 1.125rem;
  font-weight: 600;
  color: #333;
 }

 /* Header */
 .header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
 }

 .header-logo {
  max-width: 900px;
  height: auto;
 }

 .footer {
  background-color: rgba(21, 73, 196, 0.6);
  padding: 16px;
 }

 .footer ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  font-size: 1.125rem;
  font-weight: 600;
  color: #333;
 }

 /* Social Media Icons */
.header-social-links {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  gap: 12px;
}

.header-social-links a {
  font-size: 18px;
  color: black; 
  transition: color 0.3s ease;
}

.header-social-links a:hover {
  color: gray; 
}

/* Slogan */
.slogan {
  margin-top: 10px; 
  font-size: 10pt; 
  font-style: italic;
   color: #4a4a4a; 
}

/* Date */
.date-container {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 14px;
  color: #333; 
}

.current-date {
  margin: 0;
  font-weight: bold;
}

/* Poetry */
.poetry-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.poetry-container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
}

.poetry-post {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  margin-bottom: 30px;
}

.poetry-post h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.poetry-post p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
}

.poetry-post a {
  text-decoration: none;
  color: #0056b3;
  transition: color 0.3s;
}

.poetry-post a:hover {
  color: blue;
}

/* Fiction */

.fiction-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.fiction-container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
}

.fiction-post {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  margin-bottom: 30px;
}

.fiction-post h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.fiction-post p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
}

.fiction-post a {
  text-decoration: none;
  color: #0056b3;
  transition: color 0.3s;
}

.fiction-post a:hover {
  color: blue;
}

/* Non-Fiction */
.non-fiction-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.non-fiction-container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
}

.non-fiction-post {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  margin-bottom: 30px;
}

.non-fiction-post h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.non-fiction-post p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
}

.non-fiction-post a {
  text-decoration: none;
  color: #0056b3;
  transition: color 0.3s;
}

.non-fiction-post a:hover {
  color: blue;
}


/* Art */
.art-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.art-container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px; 
}

.art-post p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
}

.art-post a {
  text-decoration: none;
  color: #0056b3;
  transition: color 0.3s;
}

.art-post a:hover {
  color: blue;
}

.art-post img {
  width: 100vw;  
  max-width: 100%; 
  height: auto; 
  display: block; 
  margin: 10px auto; 
  margin-bottom: 50px;
  border-radius: 5px;  
  object-fit: contain; 
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}




