/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

html, body {
  overflow-x: hidden; 
  width: 100vw; 
}

/* Header */
.header {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding: 20px;
 position: relative;
}

.header-logo {
  max-width: 900px;
  height: auto;
}

/* NavBar */
.navbar {
  background-color: rgba(21, 73, 196, 0.6);
  padding: 16px;
 }

.navbar ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  font-size: 1.125rem;
  font-weight: 600;
  list-style: none;
  color: white;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

/* Footer */
.footer {
  background-color: rgba(21, 73, 196, 0.6);
  padding: 16px;
}

.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
  list-style: none;
  padding: 0;
  width: 100%;
}

.footer ul li {
  display: flex;
  align-items: center;
}

.footer ul li a {
  color: white;
  text-decoration: none;
}

.footer ul li img {
  max-width: 100%;
  height: auto;
}

 /* Social Media Icons */
.header-social-links {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  gap: 12px;
}

.header-social-links a {
  font-size: 18px;
  color: black; 
  transition: color 0.3s ease;
}

.header-social-links a:hover {
  color: gray; 
}

/* Slogan */
.slogan {
  margin-top: 10px; 
  font-size: 10pt; 
  font-style: italic;
   color: #4a4a4a; 
}

/* Date */
.date-container {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 14px;
  color: #333; 
}

.current-date {
  margin: 0;
  font-weight: bold;
}

/* NSC Logo in Header */

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: absolute;
  left: 10px; 
}

.logo {
  height: 40px; 
  width: auto;
  max-width: 100px; 
  transition: transform 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

