/* NavBar */
.navbar {
  background-color: rgba(21, 73, 196, 0.6);
  padding: 16px;
 }
 
 
 .navbar ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  font-size: 1.125rem;
  font-weight: 600;
  color: #333;
 }
 
 
 /* Header */
 .header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
 }
 
 
 .header-logo {
  max-width: 900px;
  height: auto;
 }

 .footer {
  background-color: rgba(21, 73, 196, 0.6);
  padding: 16px;
 }
 
 
 .footer ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  font-size: 1.125rem;
  font-weight: 600;
  color: #333;
 }
 